<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseConnection" 
         value="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\student\Desktop\ASPdotNET\PersonalWebsite\PersonalWebsite\App_Data\Customers.mdf;Integrated Security=True"/>
  </appSettings>
</configuration>